@model ApplicationUser

<div height="50" width="75">
    <img class="rounded-square"
         height="50" width="75"
         style="border:1px"
         asp-append-version="true" accept="image/*" src="@Model.ImageUrl" >
</div>