@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="mt-5">@ViewData["Title"]</h1>
<p>
    <br />Please check you email to reset your password.
    <hr />
    If for some reason you didn't receive the email or it got lost/ended up in the spam folder.<a href="/Identity/Account/ForgotPassword"> You can try again.</a>
</p>
